*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
html body{
    height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header{
    height: auto;
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 12, 107, 0.667);
    flex-direction: column;
    padding: 10px;
}
header h1:hover{
    color: rgb(0, 255, 0);
}
main{
    height: 73vh;
    width: 100%;
    background-color: #1A1A2E;
}
.espaco{
    width: 70%;
    height: 69vh;
    border-radius: 20px;
    border: 2px dashed gold;
    margin: 20px;
    padding: 1px;
    background-color: rgba(151, 151, 151,0.4);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quadrado{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(248, 11, 11, 0.6);
    border: none;
    position: absolute;
}
.quadrado:hover{
    background-color: red;
}
footer{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 12, 107, 0.667);
    flex-direction: column;
}
footer h1{
    font-size: 14px;
    margin-top: 10px;
    font-family: arial;
}
#reiniciar{
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: black;
    color: azure;    
}
#reiniciar:hover{
    background-color: rgb(0, 255, 0);
    color: black;
}
select{
    border: none;
    width: 100px;
    height: 20px;
    color: black;
    margin: 5px;
}
select:open, select:hover{
      background-color: rgb(15, 99, 15);
}
